<!--Tabla creada para mostrar los productos del carrito-->
<table class="table table-bordered">
    <thead>     
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.carro_Videojuegos.items %}
            {%for key, value in request.session.carro_Videojuegos.items%}
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>   
                <td>{{value.stock}}</td>
            {% endfor %}

        {% else %}
            <tr>
                <th colspan="3">
                    <div class="alert alert-danger text-center">
                        No Hay Productos
                    </div>

                </th>
            
            </tr>


        {% endif %}
    </tbody>
</table>